<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/CarRentalDB_REST</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>

		<property name="connection.pool_size">1</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<property name="show_sql">false</property>

		<!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
		<property name="hibernate.hbm2ddl.auto">validate</property>

		<mapping class="com.rsi.rest.model.Car" package="com.rsi.rest.model" />
		<mapping class="com.rsi.rest.model.Truck" package="com.rsi.rest.model" />
		<mapping class="com.rsi.rest.model.User" package="com.rsi.rest.model" />
		<mapping class="com.rsi.rest.model.Rent" package="com.rsi.rest.model" />
	</session-factory>
</hibernate-configuration>
